@model SalesManager.Models.DB.clientes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.margen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.margen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esProspecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esProspecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipios.municipioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipios.municipioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.GUID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
