@model SalesManager.Models.DB.entidades

@{
    ViewBag.Title = Model.nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SalesManager.Models.DB.entidadesCampos> campos = Model.entidadesCampos.ToList();
}


<form asp-action="Create" asp-controller="Catalogos"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="onSuccess"
      data-ajax-failure="OnFailure">

    <div class="row">
        @foreach (var campo in campos)
        {
            string ID = campo.id + "|" + campo.type;
            <div class="col-sm-@campo.cols col-xs-12" style="display:@(campo.type.Equals("hidden")?"none":"")">
                <div class="col-sm-4 col-xs-12">
                    <label>@campo.title</label>
                </div>
                <div class="col-sm-8 col-xs-12">
                    @switch (campo.type)
                    {
                        case "text":
                        case "password":
                        case "date":
                        case "date-time":
                        case "number":
                            <input id="@ID" name="@ID" type="@campo.type" class="@(campo.@class)" placeholder="@campo.placeholder" @(campo.required ? "required='El campo " + campo.title + " es requerido'" : "") />
                            break;
                        default:
                            break;
                    }
                </div>
            </div>
        }

    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="col-xs-12">
                <input id="tabla" name="tabla" type="text" value="@Model.nombre" style="display:none;" />
                <input id="entidadId" name="entidadId" type="text" value="@Model.entidadId" style="display:none;" />
                <input class="btn btn-primary" type="submit" value="Guardar" />
            </div>
        </div>
    </div>

</form>

    <script type="text/javascript">
        function onSuccess(result) {
            console.log("Resultado:", result);

            if (result == "") {
                Success("Formulario guardado de manera correcta.");
            } else {

                Error(result);
            }
        }
        function OnFailure(result) {

        }
    </script>




